html, body, .home-container, .home-row {
    width: 100%;
    height: 100%;
}

#purpleSidebar {
    height: 100%;
    background-color: #39305F;
}

.purpleSidebarHeader {
    font-family: Helvetica Neue;
    font-size: 50px;
    color: #FFFFFF;
}