<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Django Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/styles/site.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="levelsBody">
{% load static %}
<img id="sun" src="{% static 'app/sun.png' %}"/>
{% load static %}
<img id="mercury" src="{% static 'app/mercury.png' %}">
<div id="level1text"><a href="/mcqgame">Level 1</a></div>
{% load static %}
<img id="yelloworbit" src="{% static 'app/yelloworbit.png' %}">
{% load static %}
<img id="brightyelloworbit" src="{% static 'app/brightyelloworbit.png' %}">
{% load static %}
<img id="venus" src="{% static 'app/venus.png' %}">
<div id="level2text"><a href="/draganddropgame">Level 2</a></div>
{% load static %}
<img id="blueorbit" src="{% static 'app/blueorbit.png' %}">
{% load static %}
<img id="saturn" src="{% static 'app/saturn.png' %}">
<div id="level3text"><a href="/flashcardmemorygame">Level 3</a></div>
{% load static %}
<img id="bluecomet" src="{% static 'app/bluecomet.png' %}">
{% load static %}
<img id="star" src="{% static 'app/star.png' %}">
{% load static %}
<img id="smallbluecomet" src="{% static 'app/smallbluecomet.png' %}">
{% load static %}
<img id="constellation" src="{% static 'app/constellation.png' %}">
{% load static %}
<img id="redstar" src="{% static 'app/redstar.png' %}">
</body>
</html>