<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Multiple Choice</title>
    <link rel="stylesheet" href="styles.css">
      {% load static %}
	<script src="{% static 'app/scripts/multiplechoice.js' %}"></script>
  </head>
  <body>
      <h1>Multiple Choice Game</h1>
      <div>
          <h1 id="gameCounter">Game 1</h1>
          <p>What letter is this?</p>
          <img id="questionImage" src="/static/app/signs/letter_A.png">
      </div>

      <div id="buttons">
          <button value="Option1" id="optionOne">Option 1</button>
          <button value="Option2" id="optionTwo">Option 2</button>
          <button value="Option3" id="optionThree">Option 3</button>
          <button value="Option4" id="optionFour">Option 4</button>
      </div>
  </body>
</html>
